<header class="container">
  <h1>Angular Testing</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet molestias
    itaque excepturi quia debitis modi odit, illum nemo commodi a placeat
    laboriosam amet molestiae explicabo omnis quasi obcaecati officiis. Tenetur?
  </p>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/pico-preview">Pico Preview</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
